---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Bronnen, Alvah"
  description="Alle geraadpleegde literatuur en verwijzingen, thematisch gegroepeerd in dertien secties."
>
  <section>
    <h1>Bronnen</h1>
    <p class="lede">
      Alle geraadpleegde literatuur en verwijzingen, thematisch gegroepeerd. Klap open per onderwerp.
      Voor de bijbehorende context: zie de pagina waarop elke bron wordt gebruikt.
    </p>
  </section>

  <section class="bronnen-sections">

    <details class="bron-cat" open>
      <summary><span class="bron-cat__num">01</span>PKU en cognitie</summary>
      <ul>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/20123466/" target="_blank" rel="noopener">Christ e.a. (2010)</a>: Executieve functies bij vroeg-behandelde PKU, review.</li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/24568837/" target="_blank" rel="noopener">Hood e.a. (2014)</a>: <em>Variability of phenylalanine best predicts IQ outcome.</em> Phe-variabiliteit sterker dan gemiddelde.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC12222274/" target="_blank" rel="noopener">Palermo (2025)</a>: bidirectionele stress-Phe relatie en neurocognitie.</li>
        <li>DeRoche &amp; Welsh (2008): Meta-analyse EF bij vroeg-behandelde PKU (d=0.59–1.15).</li>
        <li>Jahja e.a. (2020): Werkgeheugen als meest aangedaan EF-domein bij PKU.</li>
        <li>Van Wegberg e.a. (2017/2025): zie sectie 02.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">02</span>Nederlandse PKU-zorg</summary>
      <ul>
        <li><a href="https://www.unitedformetabolicdiseases.nl/" target="_blank" rel="noopener">United for Metabolic Diseases (UMD)</a>: koepel van 6 UMC's.</li>
        <li><a href="https://www.umcg.nl/-/expertisecentrum/phenylketonurie-tyrosinemie" target="_blank" rel="noopener">UMCG, Expertisecentrum PKU en Tyrosinemie</a>: Nederlands PKU-referentiecentrum.</li>
        <li><a href="https://www.umcutrecht.nl/nl/expertise-centrum/expertisecentrum-voor-erfelijke-metabole-ziekten" target="_blank" rel="noopener">UMC Utrecht / WKZ, Expertisecentrum Erfelijke Metabole Ziekten</a>.</li>
        <li><a href="https://www.pkuvereniging.nl" target="_blank" rel="noopener">PKU Vereniging Nederland</a>.</li>
        <li><a href="https://www.pkugezin.nl/" target="_blank" rel="noopener">Nederlandse PKU Vereniging, PKU-gezin</a>: lotgenotencontact, voorlichting.</li>
        <li><a href="https://www.stofwisselingsziekten.nl" target="_blank" rel="noopener">VKS (Volwassenen, Kinderen en Stofwisselingsziekten)</a>.</li>
        <li><a href="https://www.weetwatikheb.nl/pku" target="_blank" rel="noopener">Weetwatikheb.nl/pku</a>: kindgerichte uitleg voor op school.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5639803/" target="_blank" rel="noopener">Van Wegberg e.a. (2017) Europese PKU-richtlijnen</a>.</li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/40378670/" target="_blank" rel="noopener">Van Wegberg e.a. (2025) PKU-richtlijnen revisie</a>.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">03</span>Nieuwe PKU-behandelingen (Sephience, Kuvan, GMP, LNAA)</summary>
      <ul>
        <li><a href="https://www.fda.gov/drugs/drug-approvals-and-databases/drug-trials-snapshots-sephience" target="_blank" rel="noopener">FDA, Sephience (sepiapterine) goedkeuring 2025</a>.</li>
        <li><a href="https://ir.ptcbio.com/news-releases/news-release-details/ptc-therapeutics-announces-fda-approval-sephiencetm-sepiapterin" target="_blank" rel="noopener">PTC Therapeutics, Sephience persbericht</a>.</li>
        <li><a href="https://link.springer.com/article/10.1007/s40265-025-02247-0" target="_blank" rel="noopener">Sepiapterin: First Approval</a> (<em>Drugs</em>, 2025).</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6478180/" target="_blank" rel="noopener">Cochrane Protocol, LNAA bij PKU</a>.</li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/17368065/" target="_blank" rel="noopener">Schindeler e.a. (2007)</a>: LNAA-suppletie bij klassieke PKU.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC4962165/" target="_blank" rel="noopener">Ney e.a. (2016)</a>: GMP vs. L-AA, gerandomiseerde trial.</li>
        <li><a href="https://www.sciencedirect.com/science/article/pii/S1096719224004918" target="_blank" rel="noopener">Daly e.a. (2024)</a>: GMP RCT bij kinderen 4–9 jaar.</li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/35215457/" target="_blank" rel="noopener">Daly e.a. (2022) review</a>: <em>Glycomacropeptide in PKU, Does It Live Up to Its Potential?</em></li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">04</span>Dyslexie en behandeling</summary>
      <ul>
        <li><a href="https://www.nkd.nl" target="_blank" rel="noopener">NKD, Nederlands Kwaliteitsinstituut Dyslexie</a>: Protocol 3.0, kwaliteitscriteria, behandelaarslijst.</li>
        <li><a href="https://www.dyslexiecentraal.nl" target="_blank" rel="noopener">Dyslexie Centraal</a>: officieel kennisplatform.</li>
        <li><a href="https://richtlijnenjeugdhulp.nl/dyslexie" target="_blank" rel="noopener">BVRD, Richtlijn jeugdhulp dyslexie</a>.</li>
        <li><a href="https://onlinelibrary.wiley.com/doi/10.1002/dys.1476" target="_blank" rel="noopener">Regtvoort, Zijlstra &amp; Van der Leij (2013)</a>: <em>Effectiveness of Bouw!</em>, RCT.</li>
        <li>Van der Weijden (UvA 2023/2024): Grootschalige studie naar BOUW!-effectiviteit.</li>
        <li><a href="https://www.lexima.nl/artikelen/wat-zegt-onderzoek-over-gebruik-en-effectiviteit-van-bouw" target="_blank" rel="noopener">Lexima: onderzoeksoverzicht BOUW!</a></li>
        <li><a href="https://journals.sagepub.com/doi/10.3102/00346543221099643" target="_blank" rel="noopener">Singh &amp; Alexander (2022)</a>: Meta-analyse luisterboek + meelezen.</li>
        <li>Knoop-Van Campen, Segers &amp; Verhoeven (2017): Tekstverwerking met luisterversie bij lezers met dyslexie.</li>
        <li>Steenbeek-Planting (2012): Effectieve leesinterventies bij zwakke lezers.</li>
        <li>Scheltinga &amp; Siekman: Overzichtsstudie effectiviteit preventie en interventie.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">05</span>Executieve functies en training</summary>
      <ul>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/30652908/" target="_blank" rel="noopener">Kassai e.a. (2019)</a>: Meta-analyse EF-training, near g=0.44, far g=0.11 (ns).</li>
        <li><a href="https://journals.sagepub.com/doi/10.1177/1529100616661983" target="_blank" rel="noopener">Simons e.a. (2016)</a>: <em>Do "Brain-Training" Programs Work?</em>, Psychological Science in the Public Interest.</li>
        <li><a href="https://www.frontiersin.org/journals/psychology/articles/10.3389/fpsyg.2015.01081/full" target="_blank" rel="noopener">Van der Donk e.a. (2015)</a>: Beter bij de Les (BBdL), RCT.</li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/26682925/" target="_blank" rel="noopener">Diamond &amp; Ling (2016)</a>: EF ingebed vs. geïsoleerd trainen.</li>
        <li><a href="https://onlinelibrary.wiley.com/doi/10.1111/jcpp.13057" target="_blank" rel="noopener">Dunning e.a. (2019)</a>: Meta-analyse mindfulness bij kinderen, kleine effecten.</li>
        <li><a href="https://mentalhealth.bmj.com/content/25/3/99" target="_blank" rel="noopener">Kuyken e.a. MYRIAD (2022)</a>: Mindfulness RCT bij 8.376 tieners, null effect.</li>
        <li><a href="https://onlinelibrary.wiley.com/doi/10.1111/cch.12255" target="_blank" rel="noopener">Cerrillo-Urbina e.a. (2015)</a>: Aerobe beweging bij ADHD, g=0.4–0.6.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC9035079/" target="_blank" rel="noopener">Kofler e.a. (2022)</a>: Central Executive Training bij ADHD.</li>
        <li><a href="https://www.nji.nl/interventies" target="_blank" rel="noopener">NJi interventieregister</a>: erkende Nederlandse interventies.</li>
        <li><a href="https://www.jellejolles.nl/executieve-functies-belangrijk-onderwijs/" target="_blank" rel="noopener">Jolles: EF belangrijk voor onderwijs</a>.</li>
        <li>Dawson &amp; Guare: Nederlandstalige standaardwerken over EF bij kinderen (Hogrefe).</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">06</span>Werkhervatting en hechting</summary>
      <ul>
        <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3207253/" target="_blank" rel="noopener">Han &amp; Fox (2011)</a>: <em>Parental Work Schedules and Children's Cognitive Trajectories.</em></li>
        <li><a href="https://www.frontiersin.org/journals/psychology/articles/10.3389/fpsyg.2022.905226/full" target="_blank" rel="noopener">Law e.a. (2022) Frontiers in Psychology</a>: <em>Parenting in a 24/7 Economy.</em> Hong Kong studie weekendwerk.</li>
        <li><a href="https://www.nature.com/articles/s41599-025-05802-y" target="_blank" rel="noopener">Nature HSS (2025)</a>: <em>When work and worry collide.</em> Ouderlijke stress &times; begrijpend lezen.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">07</span>Doubleren en zittenblijven</summary>
      <ul>
        <li><a href="https://www.nro.nl/kennisrotondevragenopeenrij/zittenblijven-basisonderwijs" target="_blank" rel="noopener">NRO Kennisrotonde, Zittenblijven basisonderwijs</a>.</li>
        <li><a href="https://www.onderwijskennis.nl/themas/zittenblijven-en-versnellen" target="_blank" rel="noopener">Onderwijskennis.nl, Zittenblijven &amp; versnellen</a>.</li>
        <li>Jimerson (2001): Meta-analyse zittenblijven, d=−0.39.</li>
        <li>Allen e.a. (2009): Kwaliteit research design modereert effecten.</li>
        <li>Goos e.a. (2013): Systematisch review van 37 studies, <em>Pedagogische Studiën.</em></li>
        <li>Driessen e.a. (2014): ITS Nijmegen, Nederlandse data zittenblijven.</li>
        <li>Hattie (2013): Visible Learning, retention effect −0.151.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5007082/" target="_blank" rel="noopener">Wanzek e.a. (2016)</a>: Tier-2 leesinterventie meta-analyse.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC4191908/" target="_blank" rel="noopener">Denton e.a. (2014)</a>: Tier-3 leesinterventie.</li>
        <li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC7518569/" target="_blank" rel="noopener">Tamm e.a. (2020)</a>: Gecombineerde lees + ADHD-interventie.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">08</span>Onderwijsrecht en passend onderwijs</summary>
      <ul>
        <li><a href="https://www.rijksoverheid.nl/onderwerpen/passend-onderwijs" target="_blank" rel="noopener">Rijksoverheid, passend onderwijs</a>.</li>
        <li><a href="https://onderwijsgeschillen.nl/commissie/geschillencommissie-passend-onderwijs-gpo" target="_blank" rel="noopener">GPO, Geschillencommissie Passend Onderwijs</a> (6-weken termijn, kosteloos).</li>
        <li><a href="https://onderwijsgeschillen.nl/commissie/landelijke-klachtencommissie-onderwijs-lkc" target="_blank" rel="noopener">LKC, Landelijke Klachtencommissie Onderwijs</a>.</li>
        <li><a href="https://onderwijsconsulenten.nl" target="_blank" rel="noopener">Onderwijsconsulenten</a>.</li>
        <li><a href="https://www.onderwijsinspectie.nl/onderwerpen/klachten" target="_blank" rel="noopener">Onderwijsinspectie, klachten</a>.</li>
        <li><a href="https://autoriteitpersoonsgegevens.nl" target="_blank" rel="noopener">Autoriteit Persoonsgegevens</a> (AVG-rechten).</li>
        <li><a href="https://www.onderwijsconsument.nl/een-geschil-over-passend-onderwijs/" target="_blank" rel="noopener">OCO, Onderwijsconsument</a>.</li>
        <li><a href="https://www.oudersenonderwijs.nl" target="_blank" rel="noopener">Ouders &amp; Onderwijs</a>: landelijk steunpunt.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">09</span>Jenaplan</summary>
      <ul>
        <li><a href="https://www.jenaplan.nl/nl/vereniging" target="_blank" rel="noopener">Nederlandse Jenaplan Vereniging (NJPV)</a>.</li>
        <li><a href="https://www.jenaplan.nl/nl/voor-ouders/veelgestelde-vragen" target="_blank" rel="noopener">NJPV voor ouders, veelgestelde vragen</a>.</li>
        <li><a href="https://www.jenaplan.nl/" target="_blank" rel="noopener">Jenaplan algemeen</a>.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">10</span>Apeldoorn-specifiek</summary>
      <ul>
        <li><a href="https://www.swvapeldoornpo.nl/" target="_blank" rel="noopener">SWV Apeldoorn PO</a>.</li>
        <li><a href="https://www.swvapeldoornpo.nl/ouders" target="_blank" rel="noopener">SWV Apeldoorn PO, voor ouders</a>.</li>
        <li><a href="https://www.swvapeldoornpo.nl/scholen" target="_blank" rel="noopener">SWV Apeldoorn PO, voor scholen</a>.</li>
        <li><a href="https://www.swvapeldoornpo.nl/hoe-werken-wij/informatie-extra-ondersteuning" target="_blank" rel="noopener">SWV Apeldoorn PO, informatie extra ondersteuning</a>.</li>
        <li><a href="https://www.apeldoorn.nl/begeleiding-advies-over-onderwijs-en-jeugd" target="_blank" rel="noopener">Gemeente Apeldoorn, begeleiding onderwijs en jeugd</a> (CJG, dyslexie-aanvraag).</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">11</span>Hulporganisaties</summary>
      <ul>
        <li><a href="https://balansdigitaal.nl/" target="_blank" rel="noopener">Balans, oudervereniging voor leer- en ontwikkelingsproblemen</a> (advieslijn 030 22 55 05, werkdagen 10–13u).</li>
        <li><a href="https://www.passendlezen.nl/" target="_blank" rel="noopener">Stichting Passend Lezen</a>: gratis luisterboeken voor kinderen met leesbeperking.</li>
        <li><a href="https://www.makkelijklezenplein.nl/" target="_blank" rel="noopener">Makkelijk Lezen Plein</a>.</li>
        <li><a href="https://www.jeugdbibliotheek.nl/6-12-jaar/jeugd-en-jongeren/6-12/lezen-met-dyslexie.html" target="_blank" rel="noopener">Jeugdbibliotheek, lezen met dyslexie (incl. Yoleo)</a>.</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">12</span>Software en hulpmiddelen</summary>
      <ul>
        <li><a href="https://www.lexima.nl/kurzweil-3000" target="_blank" rel="noopener">Lexima, Kurzweil 3000</a> (Nederlandse distributeur).</li>
        <li><a href="https://www.lexima.nl/producten/l2s" target="_blank" rel="noopener">Lexima, L2S</a> (Nederlandstalige voorleessoftware).</li>
        <li><a href="https://www.texthelp.com/products/read-and-write-education/" target="_blank" rel="noopener">Texthelp Read&amp;Write</a> (Chrome-extensie).</li>
        <li><a href="https://www.microsoft.com/en-us/education/products/learning-tools" target="_blank" rel="noopener">Microsoft Learning Tools</a> (Immersive Reader).</li>
        <li><a href="https://support.google.com/chromebook/answer/9032490" target="_blank" rel="noopener">Google Chromebook, toegankelijkheid (voorleesfunctie)</a>.</li>
        <li><a href="https://www.zwijsen.nl/" target="_blank" rel="noopener">Zwijsen</a> (Zoeklicht Dyslexie, M&amp;L-serie).</li>
        <li><a href="https://www.setgame.com/" target="_blank" rel="noopener">Set Game</a>.</li>
        <li><a href="https://www.timetimer.com/" target="_blank" rel="noopener">Time Timer</a>.</li>
        <li><a href="https://www.smilingmind.com.au/" target="_blank" rel="noopener">Smiling Mind</a> (gratis mindfulness-app).</li>
      </ul>
    </details>

    <details class="bron-cat">
      <summary><span class="bron-cat__num">13</span>Boeken</summary>
      <h4>Voor ouders en professionals</h4>
      <ul>
        <li><strong>Dawson &amp; Guare</strong>: <em>Slim maar… Help kinderen hun talenten benutten door hun executieve functies te versterken.</em> Hogrefe Uitgevers.</li>
        <li><strong>Dawson &amp; Guare</strong>: <em>Executieve functies bij kinderen en adolescenten</em>, 3e editie (2019). Hogrefe. ISBN 9789079729005.</li>
        <li><strong>Jolles, J.</strong>: <em>Leer je kind kennen</em> (2020). Amsterdam University Press.</li>
        <li><strong>Jolles, J.</strong>: <em>Het tienerbrein</em> (2016 / 2025 nieuwste editie). Amsterdam University Press.</li>
        <li><strong>Horeweg, A.</strong>: <em>Faalangst in de klas</em> (2025). LannooCampus.</li>
        <li><strong>Eide &amp; Eide</strong>: <em>Dyslexie als kans</em> (ook als luisterboek).</li>
        <li><strong>Korrelboom</strong>: COMET-methodologie.</li>
      </ul>
      <h4>Voor Alvah, over zijn eigen brein</h4>
      <ul>
        <li>JoAnn Deak: <em>Je fantastische elastische brein</em> (Lemniscaat NL).</li>
        <li>Pett &amp; Rubinstein: <em>Het meisje dat nooit fouten maakte.</em></li>
        <li>Eline Snel: <em>Stilzitten als een kikker</em> (boek + CD; Ten Have).</li>
        <li>Bartels: <em>Tess en Stijn pimpen het plein</em>.</li>
        <li>Engbers: <em>Nu weet ik wat dyslexie is.</em></li>
        <li>Tilanus: <em>Een kroon voor kanjer.</em></li>
      </ul>
      <h4>Voor Alvah, om te lezen</h4>
      <ul>
        <li>Tijgerlezen-reeks (diverse uitgevers).</li>
        <li>Zwijsen Zoeklicht Dyslexie.</li>
        <li>Kijk-en-lees Joep (AVI-stripboeken).</li>
        <li>Dav Pilkey: Dog Man-reeks (graphic novels).</li>
        <li>Donald Duck Junior (Sanoma abonnement).</li>
        <li>Martin Handford: Waar is Wally (wimmelboeken).</li>
        <li>Zwijsen M&amp;L-serie (moppenboeken).</li>
      </ul>
    </details>

  </section>

  <section class="over-dossier">
    <h2 class="section-head"><span class="num">∎</span>Over dit dossier</h2>

    <p class="lede">
      Dit is een werkdocument. Samengesteld met hulp van AI, kritisch doorgelezen door mensen,
      en bewust deelbaar maar niet openbaar geïndexeerd.
    </p>

    <div class="over-dossier__grid">
      <div>
        <h3>Wat de site is</h3>
        <p>Eén plek voor wie met Alvah werkt: school, familie, behandelaars. Dossier, wetenschap, interventies, tijdlijn en openstaande vragen bij elkaar. Geen marketingpagina, geen openbare publicatie: een werkdocument dat gesprekken ondersteunt.</p>
      </div>

      <div>
        <h3>Samenstelling</h3>
        <p>De inhoud is opgebouwd met AI-ondersteuning, op basis van openbare wetenschappelijke bronnen en Nederlandse onderwijsregels anno april 2026. Kritisch doorgelezen en aangepast waar nodig. Privacyregels zijn strikt: geen achternamen van personen in Alvah's netwerk.</p>
      </div>

      <div>
        <h3>Fouten of gemis?</h3>
        <p>Spreek ons aan. Ouders, school, SWV, behandelaars: als iets niet klopt of mist, vertel het. De vragen-pagina is bewust zichtbaar: wat we niet weten hoort ook in het dossier.</p>
      </div>

      <div>
        <h3>Werkdocument, geen definitieve tekst</h3>
        <p>Dit dossier is per definitie een momentopname. Nieuwe toetsen, nieuwe gesprekken, nieuwe inzichten worden toegevoegd. Een vraag die beantwoord is, blijft staan met het antwoord, zodat ook zichtbaar blijft wat we samen hebben opgelost.</p>
      </div>
    </div>

    <p class="muted small">
      Dit document vervangt geen medisch of orthopedagogisch advies. Bespreek relevante onderdelen
      met de behandelaars, school en SWV.
    </p>
  </section>
</BaseLayout>

<style>
  .bronnen-sections {
    display: grid;
    gap: 10px;
  }
  .bron-cat {
    border: 1px solid var(--line);
    padding: 18px 24px;
    background: var(--paper);
  }
  .bron-cat[open] {
    background: var(--green-soft);
    border-color: var(--green-line);
  }
  .bron-cat summary {
    cursor: pointer;
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--green-deep);
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
  .bron-cat__num {
    font-family: var(--font-heading);
    font-style: italic;
    font-weight: 300;
    color: var(--green);
    font-size: 0.75em;
  }
  .bron-cat ul {
    margin-top: 14px;
    list-style: none;
    display: grid;
    gap: 6px;
    font-size: 0.92rem;
  }
  .bron-cat li {
    padding: 4px 0;
    line-height: 1.5;
  }
  .bron-cat h4 {
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: 0.72rem;
    letter-spacing: 0.12em;
    color: var(--green);
    margin: 18px 0 6px;
    font-weight: 600;
  }
  .bron-cat h4:first-of-type { margin-top: 14px; }

  .over-dossier {
    border-top: 1px solid var(--line);
    padding-top: 48px;
  }
  .over-dossier__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 2em 0;
  }
  @media (max-width: 720px) {
    .over-dossier__grid { grid-template-columns: 1fr; }
  }
  .over-dossier__grid h3 {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 1.15rem;
    margin-bottom: 10px;
  }
</style>
