---
import BaseLayout from './BaseLayout.astro';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    wide?: boolean;
  };
}

const { frontmatter } = Astro.props;
---
<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  wide={frontmatter.wide ?? false}
>
  <section class="prose">
    <slot />
  </section>
</BaseLayout>
